<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="avatar-bordered" src="https://res.cloudinary.com/dg9murjje/image/upload/v1653387311/sqfa66cjv5suawauacq2.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dg9murjje/image/upload/v1653647166/First_aj5ol3.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">My floaties</a>
              <a class="dropdown-item" href="/bookings">My bookings</a>
              <a class="dropdown-item" href="/floatdevices/new">Rent out a floaty</a>
              <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dg9murjje/image/upload/v1653389397/empty-icon_fn2w2l.png" />
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/sign_in">Log in</a>
                <a class="dropdown-item" href="/users/sign_up">Sign up</a>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
  </div>
</div>
