<h2 class="text-center"><%= @user.name %></h2>
<h2 class="text-center">Find all your booking requestes here !</h2>


<div class="container">
  <div class="row">
    <div class="col-3" id="profile">
      <a href="#myfloaty" class="btn btn-primary">My Floaty</a>
      <a href="my requestes" class="btn btn-primary">My Requestes</a>
    </div>

    <div class="col-9" id="my floaty">
      <div class="cards">
        <h2>My Floaty</h2>
        <% @floatdevices.each do |floatdevice| %>
          <div class="card-booking">
            <%= cl_image_tag floatdevice.photo.key, crop: :fill %>
          </div>
        <% end %>
      </div>
    </div>
      <div class="cards" id="my requestes">
        <h2>My Requestes</h2>
        <div>
          <a href="" class="btn btn-primary">Float</a>
          <a href="" class="btn btn-primary">Sorry</a>
        </div>
      </div>
  </div>
</div>
