.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
  // height: 800px;
  // position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


#banner-logo {
  height: 100px;
  position: absolute; right:20px; top:20px;
}

.highlited-pink {
  line-height: 1.1em;
  display: inline-block;
  color: rgb(224, 24, 177);
  // color: white;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 2px 15px 4px;
  font-style: normal;
  border-radius: 3px;
}

.banner form {
  margin-top: 16px;
  max-width: 1000px;
  align-self: center;
}
