
.btn-primary {
  background-color: $floaty-pink;
  border: rgb(68, 201, 242) 1px solid;
  border-radius: 24px;
  width: 140px;
}

.btn-primary-large {
  background-color: $floaty-pink;
  border: rgb(68, 201, 242) 1px solid;
  border-radius: 24px;
  width: 440px;
}

.btn-pink-sq {
  background-color: $floaty-pink;
  border: rgb(68, 201, 242) 1px solid;
  color: white;
  font-weight: bold;
  border-color: $floaty-pink;
}
