.card-dina {
  width: 100%;
  // height: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // margin-top: 12px;
  // margin-bottom: 12px;
  // height: 20vw;
}

.card-img-div>img {
  // width: 100%;
  height: 100%
  // width: 100%;

}

.card-dina h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dina p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-img-div {
  height: 15vw;
}

.card-dina .card-dina-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-dina-infos .card-dina-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-dina-pricing {
  margin-top: 10px;
  // padding-top: 10px;
  padding-bottom: 5px;
}
