.card-trip {
  overflow: hidden;
  background: white;
  //
  width: 800px;
  margin: 0 auto;

}

.card-trip > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 26px;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip h2 h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



.btn-primary {
  background-color: #e515b5;
  border: rgb(68, 201, 242) 1px solid;
  border-radius: 24px;
}

.container-form {
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
border: rgb(68, 201, 242) 1px solid;
border-radius: 24px;
padding: 16px;


}
