.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: rgb(68, 201, 242) 1px solid;
  background: rgba(224, 24, 177,0.35);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
